.Register{
    max-width: 300px !important;
    height:500px;
    margin:20px;
    background-color: aliceblue;
    border:gray 3px solid;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 1 rem;
    align-items: center;
    text-align: center;
}
.Register>input{
    border-radius: 10px;
    border: 2px solid black;
    outline:none;
    max-width:250px;
    color:black;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
}
.button{
    background-color: black;
    color:gold;
    max-width: 50px ;
    padding:10px;
    margin: 0.5rem 0;
    margin-left: 1.5rem;
    text-align: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
}